.center1{
					display:flex;
					justify-content:center;
		}
		input[type=text]{
					border:none;
					border-bottom:1px solid grey;
					width:100%;
					font-size:25px;
					
		}
		input[type=submit]{
					font-size:15px;
					margin:5px;
					padding:10px;
					border:none;
					border-radius:8px;
					float:right;
					color:white;
					background-color:#04AA6D;
		}
		p{
				font-size:25px;
		}
		button{
		background-color:red;
		color:white;
		font-size:15px;
		font-size:15px;
					margin:5px;
					padding:10px;
		border:none;
		border-radius:8px;
		}